{% extends 'base.html' %}
{% load static %}
{% block title %}Goo Business industry training program - Goo Business{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">
<link rel="stylesheet" href="{% static 'css/courseresponsive.css' %}">


{% endblock head%}

{% block body %}



<section class="introSection">
    <div>
      <div>
        <h1>Professional Certificate Course</h1>
        <h2>Goo Business industry training program</h2>
        <p>Are you ready to embark on a transformative journey into the world of web development? Look no further! Our
          comprehensive online industry training program is designed to turn your coding aspirations into
          reality.</p>
        <a href="/studentregistation">Register Now<span>&rarr;</span></a><br>


      </div>
      <div>
        <img class="student-image" src="{% static 'img/othersimg/Untitled design.png' %}"
          alt="pngtree—kids learning coding_7515253.png" decoding="async" fetchpriority="high">
      </div>
    </div>
    <div></div>
  </section>


  <div class="tringle"></div>


  <section class="allInOneSection" data-comp="hero-side-features">
    <div>
      <div>
        <h2>Goo Business industry training program</h2>
        <h3>All-In-One Solution for your needs</h3>

      </div>
    </div>
    <div>
      <div>
        <ul>

          <li>
            <a href="/studentregistation">
              <div class="text">

                <h2>
                  <div class="ico" style="background-image: url({% static 'img/othersimg/comprehensive.png' %})">
                  </div> Live Classes:
                </h2>
                <p>Interactive Live Classes with Expert Instructors
                  Hands-On Projects for Practical Learning
                  Flexible Learning Schedule - Learn at Your Own Pace</p>

              </div>
            </a>
          </li>

          <li>
            <a href="/studentregistation" data-go="1" class="">
              <div class="text">

                <h2>
                  <div class="ico" style="background-image: url({% static 'img/othersimg/expert.png' %})">
                  </div> Expert Instruction:
                </h2>
                <p>Learn from industry professionals with extensive experience in Full-Stack Web Development.</p>

              </div>
            </a>
          </li>

          <li>
            <a href="/studentregistation" data-go="2" class="active">
              <div class="text">

                <h2>
                  <div class="ico" style="background-image: url({% static 'img/othersimg/portfolio.png' %})">
                  </div> Hands-On Projects and Portfolio Building:
                </h2>
                <p>Apply theoretical knowledge to real-world projects throughout the course.</p>

              </div>
            </a>
          </li>

          <li>
            <a href="/studentregistation" data-go="3" class="">
              <div class="text">

                <h2>
                  <div class="ico" style="background-image: url({% static 'img/othersimg/schedule.png' %})">
                  </div> Flexible Learning Schedule:
                </h2>
                <p>Access course materials and lessons at your own pace and convenience.</p>

              </div>
            </a>
          </li>

          <li>
            <a href="/studentregistation" data-go="4" class="">
              <div class="text">

                <h2>
                  <div class="ico" style="background-image: url({% static 'img/othersimg/career.png' %})">
                  </div> Career Readiness and Industry Insights:
                </h2>
                <p>Gain insights into industry trends, job market demands, and potential career paths.</p>

              </div>
            </a>
          </li>

          <li>
            <a href="/studentregistation" data-go="5" class="">
              <div class="text">

                <h2>
                  <div class="ico" style="background-image: url({% static 'img/othersimg/projects.png' %})">
                  </div> Real world projects:
                </h2>
                <p>Showcase your proficiency by delivering solutions to complex problems faced by industry professionals.</p>

              </div>
            </a>
          </li>
        </ul>
      </div>




      <div id="changealeImgDiv">
        <!-- <img src="https://trackingtime.co/wp-content/uploads/2023/03/website-illustrations-slide-home-timesheets-1536x895.png" alt=""> -->
        <img src="{% static 'img/othersimg/comprehensive curriculam.png' %}" alt="">
      </div>
    </div>
    </div>
  </section>


  <section class="TRUSTED_BY_COMPANIES">
    <h2>Technologies that you will learn</h2>
  </section>

  <section class="flotingSection">
    <div>
      <ul>
        <li>
          <div>
            <!-- <i class="fa-brands fa-html5 a-icon"></i> -->
            <img src="{% static 'img/othersimg/html-5.png' %}" alt="html">
          </div>
        </li>
        <li>
          <div>
            <!-- <i class="fa-brands fa-css3-alt a-icon"></i> -->
            <img class="technologies-icon" src="{% static 'img/othersimg/css-3.png' %}" alt="css-3">
          </div>
        </li>
        <li>
          <div>
            <!-- <i class="fa-brands fa-js a-icon"></i> -->
            <img class="technologies-icon" src="{% static 'img/othersimg/javascript.png' %}" alt="javascript">
          </div>
        </li>
        <li>
          <div>
            <!-- <i class="fa-brands fa-react a-icon"></i> -->
            <img class="technologies-icon" src="{% static 'img/othersimg/react.png' %}" alt="react">
          </div>
        </li>
        <li>
          <div>
            <!-- <i class="fa-brands fa-node a-icon"></i> -->
            <img class="technologies-icon" src="{% static 'img/othersimg/nodejs-1-logo-png-transparent.png' %}" alt="nodejs-1-logo-png-transparent">
          </div>
        </li>
        <li>
          <div>
            <!-- <i class="fa-brands fa-github a-icon"></i> -->
            <img class="technologies-icon" src="{% static 'img/othersimg/github.png' %}" alt="github.png">
          </div>
        </li>
      </ul>
    </div>
  </section>



  <div class="A_Complete_Solution_Section">
    <h2>OUR COURSES</h2>
    <h3 style="margin-top: 5px;">
      "Comprehensive Web Development Solutions for Skill Enhancement and Career Advancement – Elevate Your Coding
      Journey Today!"</h3>
    <p>These courses empower you to become a proficient web developer, whether you're specializing in the front end,
      back end, or the full-stack spectrum. Enroll now to unlock the doors to a world of endless possibilities in the
      dynamic field of web development!</p>
  </div>


  <section class="CardSection">
    <div class="someCards">
      <div>
        <div>
          <div>
            <!-- <img src="https://trackingtime.co/wp-content/uploads/2023/03/illustration-assets-flexible-time-tracker.png"> -->
            <img src="{% static 'img/othersimg/frontend-image.png' %}" alt="Designed by Freepik">
          </div>
          <h2>Front-End(Client-Side)</h2>
          <p>Embark on a visual journey with our Front-End Web Development course. Master the art of crafting seamless
            user experiences using HTML, CSS, and JavaScript. Dive into the latest front-end frameworks like React, and
            bring your creativity to life in the digital realm.</p>
            <br>
            <a href="/studentregistation" class="btn516">Register Now</a>
        </div>
      </div>
      <div>
        <div>
          <div>
            <img src="{% static 'img/othersimg/backend-image.png' %}" alt="server">
            <!--<img src="https://trackingtime.co/wp-content/uploads/2023/03/illustration-assets-user-reports.png"> -->
          </div>
          <h2>Back-End(Server-Side)</h2>
          <p>Delve into the engine room of web applications with our Back-End Web Development course. Explore
            server-side scripting using languages like Node.js and Python. Learn to manage databases, handle server
            deployment, and build the robust logic that powers the functionalities of modern web applications.</p>
            <br>
            <a href="/studentregistation" class="btn516">Register Now</a>
        </div>
      </div>
      <div>
        <div>
          <div>
            <img src="{% static 'img/othersimg/full-stack.jpg' %}" alt="full-stack">
            <!-- <img src="https://trackingtime.co/wp-content/uploads/2023/03/illustration-assets-team-insights.png"> -->
          </div>
          <h2>Full-Stack</h2>
          <p>Embark on a comprehensive journey with our Full-Stack Web Development course. Master both front-end and
            back-end technologies to become a versatile developer. Seamlessly integrate user interfaces with server-side
            logic and databases, creating fully functional web applications.</p>
            <br>
            <a href="/studentregistation" class="btn516">Register Now</a>
        </div>
      </div>
    </div>
  </section>
  <div class="angleRedLine"></div>


  <div class="A_Complete_Solution_Section Add_Time_Tracking">
    <!-- <h2>TIMESHEET APP</h2> -->
    <h3>"Embark on a coding journey with our web development course and turn your dreams into digital realities. With each line of code, you're sculpting a path to your aspirations, making the extraordinary achievable one project at a time."</h3>
    <!-- <p>Online timesheets enable your company to comply with internal processes without having to<br> fill out
      unnecessary paperwork or process time data manually.</p> -->
  </div>

  <div class="prantOfbigImg">
    <div class="bigImg">
      <!-- <img src="https://trackingtime.co/wp-content/uploads/2023/03/website-illustrations-timesheets-1536x895.png" alt=""> -->
      <img style="border-radius: 20px;" src="{% static 'img/othersimg/main image.jpg' %}" alt="main-image">
    </div>
  </div>



  <div class="A_Complete_Solution_Section TIME_TRACKING_APP">

    <h3 class="c-features">Course features</h3>
  </div>



  <section class="lastPeopleSection">
    <div>
      <div>
        <div>
          <div>
            <img src="https://trackingtime.co/wp-content/uploads/2023/03/website-icons-timesheets-white.svg" alt="">
          </div>
          <div>
            <h2 c-features>Industry-Relevant Capstone Projects
            </h2>
            <p class="c-features">Undertake challenging capstone projects mirroring real-world scenarios.</p>

          </div>
        </div>
        <div>
          <div>
            <img src="https://trackingtime.co/wp-content/uploads/2020/05/website-icons-list-row-white.svg" alt="">
          </div>
          <div>
            <h2 class="c-features">Continuous Assessment and Feedback</h2>
            <p class="c-features">Benefit from regular assessments to reinforce your learning.</p>
          </div>
        </div>
        <div>
          <div>
            <img src="https://trackingtime.co/wp-content/uploads/2023/03/website-icons-target-white.svg" alt="">
          </div>
          <div>
            <h2 class="c-features">Job opportunities</h2>
            <p class="c-features">"Standout performers in our web development course stand a chance to secure direct
              employment with us."</p>
          </div>
        </div>


      </div>


      <div>
        <div>
          <!-- <img src="https://trackingtime.co/wp-content/uploads/2023/03/vector-background-emma.png" alt=""></div> -->
          <!-- <img src="b-image.jpg" alt="Designed by slidesgo / Freepik"> -->
          <img style src="{% static 'img/othersimg/last section image.jpg' %}" alt="">
        </div>

      </div>

  </section>


  <div class="A_Complete_Solution_Section INTEGRATIONS">
    <h3 style="line-height: 43px;">Elevate web projects with precision code and creativity where every keystroke shapes
      digital excellence."





    </h3>
  </div>

  <div class="lastSection">
    <a class="btnStyle" href="/studentregistation">Register now
      <span>&rarr;</span></a><br>

  </div>

<script src="{% static 'JS/changecont.js' %}"></script>
{% endblock body %}