<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Admin Managing Dashboard</title>
    <style>
        table,
        tr,
        td {
            border: 1px solid gray;
            padding:10px 5px;
        }

        td button{
            padding: 5px;
            border-radius: 4px;
            border: 1px solid gray;
        }
        
    </style>
</head>

<body>
    <main>
        <h2>Total Remain(Baki ache): {{totalReamin}}</h2>
        <table>
            <thead>
                <tr>
                    <th>SlId</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Code</th>
                    <th>Phone</th>
                    <th>EmpID</th>
                    <th>OTPstatus</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Resume</th>
                    <th>Interview Email</th>
                    <th>Iv Date</th>
                    <th>Iv Time</th>
                    <th>Meeting Link</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for singledata in serverdata %}
                <tr>
                    <td>{{singledata.slID}}</td>
                    <td id="candidatename{{singledata.slID}}">{{singledata.fullname}}</td>
                    <td>{{singledata.email}}</td>
                    <td>{{singledata.countryCode}}</td>
                    <td>{{singledata.phone}}</td>
                    <td>{{singledata.EmployeeID}}</td>
                    <td>{{singledata.otpStatus}}</td>
                    <td>{{singledata.acceptdate}}</td>
                    <td>{{singledata.acceptTime}}</td>
                    <td><a href="/media/{{singledata.ResumePDF}}" target="_blank">Resume</a></td>
                    {% if singledata.isInterviewSend %}
                    <td style="background-color: green;color: white;" id="emailstatus{{singledata.slID}}">Sent</td>
                    {% else %}
                    <td style="background-color: red;color: white;" id="emailstatus{{singledata.slID}}">Not Sent</td>
                    {% endif %}
                    
                    <td><input type="date" name="ivdate" id="ivdate{{singledata.slID}}"></td>
                    <td><input type="time" name="ivtime" id="ivtime{{singledata.slID}}"></td>
                    <td><input type="url" name="meetinglink" id="meetinglink{{singledata.slID}}"></td>
                    <td><button id="{{singledata.slID}}" data-slid="{{singledata.slID}}" data-email="{{singledata.email}}" data-clickstatus="false" onclick="tigFunc(this)">Send Email</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <script>
        let workig = false;

        async function tigFunc(e) {
            if(workig == false && e.getAttribute("data-clickstatus") == "false") {
                workig = true;
                e.setAttribute("data-clickstatus", "true");

                let ivdate = document.getElementById(`ivdate${e.getAttribute("id")}`)
                let ivtime = document.getElementById(`ivtime${e.getAttribute("id")}`)
                let meetinglink = document.getElementById(`meetinglink${e.getAttribute("id")}`)
                
                options = {
                    method: "POST",
                    body: JSON.stringify({
                        slid: e.getAttribute("data-slid"),
                        email: e.getAttribute("data-email"),
                        ivdate: ivdate.value,
                        ivtime: ivtime.value,
                        meetinglink: meetinglink.value
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }
                
                let ele = document.getElementById(e.getAttribute("id"));
                ele.style.backgroundColor = "yellow";
                ele.textContent = "Working...";
                
                let res = await fetch("/interveiwemailsend", options);
                
                let getData = await res.json();
                
                // console.log(ivdate.value)
                // console.log(ivtime.value)
                // console.log(meetinglink.value)
                
                
                
                
                
                workig = false;
                ele.style.backgroundColor = "green";
                ele.style.color = "white";
                ele.textContent = "Done";
                
                let emailstatus = document.getElementById(`emailstatus${e.getAttribute("id")}`)
                emailstatus.style.backgroundColor = "green";
                emailstatus.style.color = "white";
                emailstatus.textContent = "Sent";
                
            }

        }
    </script>
</body>

</html>