<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Admin Managing Dashboard</title>
    <style>
        table,
        tr,
        td {
            border: 1px solid gray;
            padding: 10px 5px;
        }

        td button {
            padding: 5px;
            border-radius: 4px;
            border: 1px solid gray;
        }

        #Data a {
            padding: 10px;
            background-color: #0089ff;
            text-decoration: none;
            border-radius: 8px 13px;
            color: white;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <main>
        <div id="Data" inert>

        </div>
        <h2>Total Remain(Baki ache): {{totalReamin}}</h2>
        <table>
            <thead>
                <tr>


                    <th>Email</th>

                    <th>LogIn Status</th>
                    <th>Except Date</th>
                    <th>Resent Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for singledata in serverdata %}
                <tr>
                    <td>{{singledata.email}}</td>
                    <td>{{singledata.last_login}}</td>

                    <td>{{singledata.date_joined}}</td>
                    <td><button id="{{singledata.email}}emailagain" data-email="{{singledata.email}}"
                            data-clickstatus="false" onclick="tigemailFunc(this)">Sent Again</button></td>
                    <td><button id="{{singledata.email}}" data-email="{{singledata.email}}" data-clickstatus="false"
                            onclick="tigFunc(this)">Get Data</button></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </maini>



    <script>

        function showData(obj, eleId) {
            let parentEle = document.getElementById(eleId);

            let rawHtml = `<h3>Name: ${obj.name}</h3>
            <h3>Phone: <span>${obj.phone}</span>  <a href="tel:${obj.phone}">Click to Call</a></h3>
            <p>Choose Fild: ${obj.choosefild}</p>
            <p>YearOfGraduation: ${obj.YearOfGraduation}</p>
            <p>HighestQualification: ${obj.HighestQualification}</p>
            <p>CollegeName: ${obj.CollegeName}</p>
            <p>MajorFieldOfStudy: ${obj.MajorFieldOfStudy}</p>
            <p>WorkExperienceIfAny: ${obj.WorkExperienceIfAny}</p>`
            parentEle.innerHTML = rawHtml;

        }


        let workig = false;

        async function tigFunc(e) {
            if (workig == false && e.getAttribute("data-clickstatus") == "false") {
                workig = true;
                e.setAttribute("data-clickstatus", "true");

                options = {
                    method: "POST",
                    body: JSON.stringify({
                        email: e.getAttribute("data-email")
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }

                let ele = document.getElementById(e.getAttribute("id"));
                ele.style.backgroundColor = "yellow";
                ele.textContent = "Working...";

                let res = await fetch("/contactdata", options);

                let getData = await res.json();
                if (getData.massage == "success") {
                    showData(getData, "Data");
                }
                else {
                    document.getElementById("Data").innerHTML = "<h2>No Data Found</h2>";
                }



                workig = false;
                ele.style.backgroundColor = "green";
                ele.style.color = "white";
                ele.textContent = "Done";


            }

        }



        let workig2 = false;

        async function tigemailFunc(e) {
            if (workig2 == false && e.getAttribute("data-clickstatus") == "false") {
                workig2 = true;
                e.setAttribute("data-clickstatus", "true");

                options = {
                    method: "POST",
                    body: JSON.stringify({
                        email: e.getAttribute("data-email")
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }

                let ele = document.getElementById(e.getAttribute("id"));
                ele.style.backgroundColor = "yellow";
                ele.textContent = "Working...";

                let res = await fetch("/resentuserbatchandemailrequest", options);

                let getData = await res.json();



                workig2 = false;
                ele.style.backgroundColor = "green";
                ele.style.color = "white";
                ele.textContent = "Done";


            }

        }
    </script>

</body>

</html>