{% extends 'base.html' %}
{% block title %}Auto order detection page - Goo Business{% endblock title %}
{% block head %}


{% endblock head%}

{% block body %}
<main style="min-height: 80vh;">
    
<h1 style="text-align: center;font-family: sans-serif;font-size: xx-large;margin-top: 40px;">
    Thank You for Connecting With Us!<br>Order anything, and we will automatically detect your free trial.
</h1>
<div style="margin: auto;font-family: sans-serif;text-align: center;font-size: large;width: 60vw;margin-top: 40px;line-height: 30px;">&#9632; At our website, you can order anything and we will automatically detect your free trial, so you don't have to pay for it! Enjoy your free trial and take advantage of all the great features we have to offer.</div>


</main>

{% endblock body %}