{% extends 'base.html' %}
{% block title %}Order Successfull - Goo Business{% endblock title %}
{% block head %}


{% endblock head%}

{% block body %}
<main style="min-height: 80vh;">
    
<h1 style="text-align: center;font-family: sans-serif;font-size: xx-large;margin-top: 20px;">
    Congratulations! Your form has been successfully submitted.<br>Thank You.&#128522;
</h1>
<div style="text-align: center;font-size: 28px;font-family: sans-serif;margin: 40px 0px;padding: 8px 30px;"><mark>Note: Be sure to check your inbox and spam folder for updates there<br>
we will reach you via email</mark></div>
</main>

{% endblock body %}